@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@


@model FilePost

@{
    ViewBag.Title = "UploadFile";
}

<h2>UploadFile</h2>


<form asp-action="Upload" enctype="multipart/form-data">

    @*<input asp-for="FileName" />*@
    @*<input asp-for="ImageDescription" />*@
    <div>
        <input asp-for="MyFile" /><br />
        <input type="submit" value="Upload" /><br />
        <span asp-validation-for="@Model.MyFile" class="text-danger"></span>
    </div>

    <label class="text-success"> @ViewBag.Msg</label>


</form>
